*{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
}
.wrapper {
    overflow: hidden;
width: 75%;
   
    margin: 0 auto;
}

.logo {
    width: 12%;
    margin: 0 auto;
}
.logo img{
    width: 100%;
}

.menu {
    width: 100%;
    
    
}
.menu ul {
    float: right;
   
}
.menu ul li{
    list-style: none;
     float: left;
}
.menu ul li a{
    text-decoration: none;
    padding: 0px 37px;
    text-transform: uppercase;
    transition: .5s;
    color:black;
    
}
.menu ul li a:hover{
    color:#F2B95F;
}
.sketch img{
    width:60%;
}